/* font-family: 'Arimo', sans-serif;
font-family: 'Noto Sans', sans-serif; */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

p {
  cursor: default;
}

.container {
  padding-left: 208px;
  padding-right: 208px;
}

/* Start section top */

.top {
  font-family: "Noto Sans", sans-serif;
}

.header {
  display: flex;
  padding-top: 17px;
  padding-bottom: 18px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.menu__list {
  display: flex;
  gap: 50px;
}

.menu__list-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #363131;
}

.top__phone-text {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #363131;
}

.top__phone::before {
  content: "";
  padding-right: 33px;
  background-image: url("./image/icons/Calling.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

/* End section top */

/* Start section main */

.flex-wrapper {
  display: flex;
  align-items: center;
}

.line {
  margin: 0;
  border: 1px solid #ff5f01;
  height: 50px;
}

.main {
  padding-top: 150px;
  padding-bottom: 99px;
  background-image: url("./image/masthead-back.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.heading {
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  color: #363131;
  padding-bottom: 35px;
  cursor: default;
}

.heading--gray {
  color: #333333;
}

.heading-desc {
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
  cursor: default;
}

.heading-desc--gray {
  color: #333333;
  padding-left: 20px;
}

.main__slider {
  padding-top: 180px;
}

.main__flex-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main__slider--left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.main__slider--right {
  display: flex;
  gap: 1px;
}

.right__item {
  display: flex;
  background: #ff5f01;
  border-radius: 4px;
  width: 64px;
  height: 64px;
  align-items: center;
  justify-content: center;
}

.main__right-icons {
  position: absolute;
  right: 30px;
  top: 230px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* End section main */

/* Start section outfit */

.outfit {
  padding: 41px 643px 81px 0;
}

.outfit__menu {
  padding-bottom: 20px;
  font-style: italic;
  font-weight: 300;
  font-size: 14px;
  line-height: 180%;
  color: #363131;
}

.heading-desc--lh {
  line-height: 180%;
}

/* End section outfit */

/* Start section catalog */

.catalog {
  padding-bottom: 120px;
}

.links-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.catalog__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 180%;
  color: #ff5f01;
}

.svg-flex {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: flex-end;
}

.catalog__content {
  padding-top: 27px;
  display: flex;
  gap: 40px;
}

/* End section catalog */

/* Start section collection */

.collection {
  padding-bottom: 47px;
}

.collection-flex{
   display: flex;
   gap: 163px;
   padding-top: 27px;
}

.collection__heading {
  font-weight: bold;
  font-size: 32px;
  line-height: 140%;
  color: #ff5f01;
  padding-bottom: 43px;
}

.collection__padding{
   padding-top: 72px;
}

/* End section collection */
